*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, green , grey, rgba(229, 255, 0, 0.37));
     
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight:  400;
    font-size: 32px;
    line-height: 150%;
    background-color: rgb(194, 158, 104);
}

.texto::placeholder{
    color: black;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: black;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%, 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-incriptar{
    align-items: center;
    justify-content: center;
    padding: 2px;
    gap: 8px;
    width: 25%;
    background-color: brown;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color:black;
}

.btn-desincriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2px;
    gap: 8px;
    width: 25%;
    background: rebeccapurple;
    border: 1px solid lightgray;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: black;
}
.btn-desincriptar:hover,
.btn-incriptar:hover{
    margin: 0.5%;
    width: 24.5%;
    padding: 2%;
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: whitesmoke;
    box-shadow: 0px 24px 35px -10px rgb(0, 0, 0, 0.8);

}
.mensaje_encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
}

.mensaje_encriptado h2{
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: rgb(88, 87, 87);
}

.mensaje_encriptado p{
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: grey;

}

.encriptado img{
    position: absolute;
    width: 70%;
    height: 50%;
    top: 7%;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0px 24px 35px -10px rgb(0, 0, 0, 0.8);
    
}
/* Responsive design*/
@media(max-width: 57.5em){
    .container{
        display: flex;
        flex-direction: row;
    }
    .incriptar{
        width: 100%;
        
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;

    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .texto p{
         font-size: 16%;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-incriptar, 
    .btn-desincriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-incriptar:hover,
    .btn-desincriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;

    }
    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje_encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }

}